html,
body {
  height: 100%;
  overflow: hidden;
}

div,
input {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

@mixin com() {
  outline: none;
  border: 1px solid #cccccc;
  font-size: 14px;
  border-radius: 3px;
  padding: 6px 10px;
}

input {
  color: #333;
  @include com();
}

button {
  color: #666;
  cursor: pointer;
  background: transparent;
  @include com();
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-1 {
  width: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.flex-v-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-v-b {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.flex-h-c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-h-r {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flex-h-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-w {
  flex-wrap: wrap;
}

.flex-m {
  display: flex;
  align-items: center;
}

.tc {
  text-align: center;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}
